#id {
}
.header {
  background-color: aqua;
}

div {
}
* {
  font-size: 1.5rem;
}
.red-text,
.red {
  color: red;
}
.red {
  color: red !important;
}
.blue .blue-text {
  color: blue;
}
.green.green-text {
  color: green;
}
.yellow {
  color: yellow;
}
#pink {
  color: pink;
}
.ranbow-linear-gradient {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
